<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta property="og:title" content="{{ .Title }} / {{ $.Site.Title }}" />
  <meta property="og:image" content="/images/og.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="zoomment" content="669e8a2c93bd4f744c33b97a" />
  {{ if .IsPage }} <meta name="description" content="{{ .Summary }}">  {{ end }}

  <title>
    {{ if not .IsHome }}
      {{ .Title }} / {{ $.Site.Title }}
    {{ else }}
      {{ $.Site.Title }}
    {{ end }}
  </title>
  {{ partial "analytics.html" }}

  <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.Params.favicon | absURL }}" />
  <link rel="stylesheet" href="/css/main.css" />
  {{ if .Params.mathjax }} {{ partial "mathjax.html" . }} {{ end }}
</head>
