{{ define "main" }}
<a href="/"><h1>{{ $.Site.Title }}</h1></a>
{{ partial "back_link.html" .}}
<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>
<div id="foo-comments" data-theme="light" data-language="hyw" data-emotions="❤️,😀,👏🏻,🤔,💩,😢" data-api-url="https://comments.tigransimonyan.com/api" data-show-page-views="true"></div>
<script src="https://cdn.jsdelivr.net/gh/foo-comments/foo-comments-widget@v1.1.0/docs/foo-comments.min.js"></script>
<hr/>
<h2>Blog Menu</h2>
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
{{ end }}