{{ define "main" }}
<a href="/"><h1>{{ $.Site.Title }}</h1></a>
{{ partial "back_link.html" .}}
<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>
<hr>
<h3>Please give me feedback or make a comment on whatever help me improve. ❤️</h3>

<div id="zoomment" data-theme="light" data-language="en" data-emotions="❤️,😀,👏🏻,🤔,💩,😢"  data-show-page-views="true"></div>
<script src="https://cdn.zoomment.com/zoomment.min.js"></script>

<h2>Blog Menu</h2>
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
{{ end }}